<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row"> 
  <div class="card-body">
    <h3 class="text-center"> Student Details</h3>
    <div>
        <label for="id">Id:</label>
        <input type="text" class="form-control" required [(ngModel)]="student.id" name="id" readonly>
      </div>
      <br />
      <div class="form-group">
        <label for="name">Student Name:</label>
        <input type="text" class="form-control" required [(ngModel)]="student.name" name="name" readonly>
      </div>
      <br />
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" required [(ngModel)]="student.city" name="city" readonly>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" required [(ngModel)]="student.email" name="email">
      </div>
      <br/>
      <div class="form-group">
        <label for="mobileNumber">MobileNumber:</label>
        <input type="text" class="form-control" required [(ngModel)]="student.mobileNumber" name="mobileNumber">
      </div>
      <br />
    <button type="submit" class="btn btn-secondary" (click)="gotolist()">Back</button>
</div>
</div>
</div>
</div>